.about-me{
    padding: 64px 24px;
}

.about-container {
    margin: 0 auto;
    max-width: 1400px;
    gap: 2rem;
    display: flex;
}


.about-content {
    flex:1;
}

.about-title {
    margin-top: 8px;
}

.about-desc{
    margin-top: 1.5rem;
    font-size: 1.4rem;    
    line-height: 1.4;
}
.about-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 1rem;
    gap: 1.5rem;
}


/* ── Mobile ── */
@media (max-width: 768px) {
    .about-me {
        padding: 48px 20px;
    }
    
    .about-container {
        flex-direction: column;
    }
    
    .about-desc {
        font-size: 1rem;
    }
    
    .about-cards {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

/* Tablet */

@media (max-width:1408px) and (min-width:768px) {
    .about-me {
        padding: 48px 20px;
    }
    
    .about-container {
        max-width: 800px;
        flex-direction: column;
    }
    
    .about-desc {
        font-size: 1rem;
    }
    
    .about-cards {
        padding: 0;
        gap: 1rem;
    }
    
}
