.about-me{
    padding: 64px 24px;
}

.about-container {
    margin: 0 auto;
    max-width: 1400px;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr auto ;
}


/* .about-content {
} */

.about-title {
    margin-top: 8px;
}

.about-desc{
    margin-top: 1.5rem;
    font-size: 1.4rem;    
    line-height: 1.4;
}
.about-cards {
    display: flex;
    padding: 0 1rem;
    gap: 1.5rem;
}