.proj-item {
    border: 1px solid var(--border-primary);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.proj-item:hover {
    transform: translateY(-4px);
    border-color: var(--border-hover);
}

.proj-item img {
    display: block;
    aspect-ratio: 16/9;
    width: 100%; 
}

.item-content {
    display: flex;
    background: radial-gradient(circle at top right ,var(--shadow-comp), transparent 65%);
    flex-direction: column;
    padding: 1.5rem;
    flex-grow: 1;
}

.item-content h4{
    font-size: 20px;
    font-family: Satoshi-Variable;
    font-weight: 800;
    margin-bottom: 16px;
}

.item-content  p{
    color: var(--text-muted);
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 32px;
    flex-grow: 1;
}

.tech-stack {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.tech-stack span {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    background: rgb(39, 39, 42);
}

.visit {
    border-top: 1px solid var(--border-primary);
    padding-top: 24px;
    display: flex;
    gap: 2rem;
}

.Code:hover {
    background: rgba(255,255,255,0.06);
}

.Code, .Link{
    font-size: 12px;
    font-weight: 700;
    padding: 10px 18px;
}

/* ── Mobile ── */

@media (max-width: 768px) {
    
    .proj-item {
        width: 300px;
        margin: 0 auto;
    }


    .item-content h4 {
        font-size: 18px;
        margin-bottom: 14px;
    }
    
    .item-content p {
        font-size: 12px;
        margin-bottom: 24px;
    }

    .tech-stack span {
        font-size: 7px;
    }

    .Code, .Link {
        font-size: 10px;
        padding: 10px 16px;
    }
}

/* Tablet */

@media (max-width:1408px) and (min-width:768px) {
    
    .proj-item {
        width: 600px;
        flex-direction: row;
    }
    
    .item-image {
        flex: 1;
    }
    
    .proj-item img {
        height: 300px;
        object-fit: cover;
    }
    
    .item-content {
        flex: 1;
    }
    
    .item-content p {
        font-size: 12px;
        margin-bottom: 24px;
    }
    
    .tech-stack span {
        font-size: 7px;
    }
    
    .Code, .Link {
        font-size: 10px;
        padding: 10px 16px;
    }

}
