.skills {
    padding: 42px 24px;
}

.skills-container {
    max-width: 1600px;
    margin: 0 auto;
}

.skills-title {
    text-align: center;
    font-family: Satoshi-Variable;
    color: var(--text-secondary);
    font-weight: 400;
}

.skills-intro {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -1px;
}

.stack {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    column-gap: 110px;
}

