@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./assets/fonts/Satoshi/css/satoshi.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}


body {
    background: #060606;
    color: #ffffff;
    overflow: hidden;
    overflow-y: scroll;
    font-family: Inter;

}